/* * Imported google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0%;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
}

:root {
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

.logo{
    width: 70px;
    cursor: pointer;
}

nav{
    height: 70px;
    width: 100%;
    /* background-color: var(--nav-color); */
}
.navbar{
    height: 100%;
    max-width: 1500px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.navbar .links{
    display: flex;
    align-items: center;
}
.navbar .links li{
    list-style: none;
    margin: 10px;
    position: relative;
}
.navbar .links li a:hover{
    color: orangered;
    transition: 0.4s ease;
}
.navbar .links li:hover a::before{
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
   background-color: orangered;
    left: 50%;
    bottom: -10px;
    transition: all 0.4s ease;
    border-radius: 50%;
}
.navbar .links li a{
    text-decoration: none;
    color: var(--search-text);
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;
}
.column{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 10%;
    overflow: hidden;
}
.col-1{
    position: relative;
    margin: 0px 25px;
    width: 40%;
}
.col-1 h2{
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 25px;
    
}
.col-1 h3{
    font-size: 25px;
    margin-bottom: 25px;
    color: rgba(101, 99, 99,0.6);
}
.col-1 p{
    font-size: 15px;
    color: rgba(90, 89, 89, 0.6);
    margin-bottom: 25px;

}
.col-1 h4{
    margin-bottom: 30px;
}
.col-1 .buy-now{
    height: 40px;
    width: 140px;
    background: linear-gradient(to right, rgb(255, 82, 111), rgb(255, 53, 39));
    outline: none;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}
.col-1 .buy-now img{
    display: none;
    width: 30px;
}
.col-1 .buy-now:hover img{
    width: 60px;
    display: block;
}
.col-1 .buy-now:hover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    padding: 15px;
}

.col-1::before{
    content: "";
    height: 60%;
    width: 10px;
    position: absolute;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    left: -15px;
    top: 11px;;
}

.col-2{
    width: 60%;
    position: relative;
    display: flex;
    align-items: center;
}

.controller{
    width: 85%;
}
.color-box{
    height: 100%;
    width: 90%;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    position: absolute;
    left: 230px;
    top: 0;
    z-index: -1;
    border-radius: 25px;
}
.btn-add img{
    width: 50px;
    cursor: pointer;
}
.btn-add p{
    text-align: center;
    color: white;
}

footer{
    padding: 0;
    margin-top: 50px;
    background-color: rgb(36, 38, 43);
    max-height: 1200px;
    /* padding: 70px 0px; */
    width: 100%;
    /* display: flex;
    align-items: center; */
}
.foot-container{
    height: 60%;
    align-items: center;
    padding: 80px 0;
    width: 80%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 20px; */
}
.foot-col{
    width: 25%;
}
.foot-col h4{
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
    text-transform: capitalize;
    position: relative;


}
.foot-col h4::before{
    content: "";
    height: 3px;
    width: 50px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.foot-col ul li{
    margin-bottom: 25px;
}
.foot-col ul li a{
    text-decoration: none;
    font-size: 17px;
    color: rgb(187, 187, 187);
    font-weight: 500;
    transition: all 0.3s ease;
    text-transform: capitalize;
}    
.foot-col ul li a:hover{
    margin-left: 8px;
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.foot-col .social-links a{
    display: inline-block;
    background-color: rgb(36, 38, 43);

    line-height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    color: white;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    
    font-size: 18px;
    transition: all 0.5s ease;
    
}
.foot-col .social-links a:hover{
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.hamburger{
    cursor: pointer;
    display: none;
}

.bar{
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 5px;
    display: block;
    transition: all 0.4s ease;
}

@media (max-width:700px) {
    .logo{
        display: none
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }
    .links{
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        width: 300px;
        gap: 20px;
        transform: 0.3s;
        background-color: var(--side-nav);
        height: 100vh;
        z-index: 100;
    }
    
    .links a{
        margin: 16px 0;
    }
    .links.active{
        left: 0%;
    }

    .column{
        flex-direction: column-reverse;
        margin-left: 0%;
        margin-top: 15%;
    }
    .col-1{
        margin: 70px 0px;
        width: 45%;
    }

    .col-1 h2{
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 10px;
        
    }

    .col-1 h3{
        font-size: 12px;
    margin-bottom: 12px;
 }
    .col-1 p{
        font-size: 15px;
        color: rgba(90, 89, 89, 0.6);
        margin-bottom: 25px;
    
    }
    .col-1 h4{
        margin-bottom: 25px;
        font-size: 13px;
    }

    .col-2{
        width: 75%;
    }

    .controller{
        width: 80%;
    }
    .color-box{
        width: 120%;
        left: 121px;
        border-radius: 25px;
    }
    .btn-add img{
        width: 50px;
    }
    .btn-add {
        text-align: center;
    margin-bottom: -30px;
    }
    .foot-col{
        width: 50%;
        margin-bottom: 50px;
    }
}



.gallery-container{
    /* background-color: rgba(90, 89, 89, 0.6) ; */
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;    
}

.swiper{
    width: 60%;
}
.swiper img{
    width: 100%;
    height:fit-content;
    margin-bottom: 50px;
    margin-top: 50px;
} 

.swiper .swiper-pagination-bullet-active{
    background-color: white;
}

.main-about{
    display: flex;
    justify-content: center;
    align-items:center ;
    min-height: 100vh;

}
.about-section{
    background: url('Playstation_Img/about.jpg') no-repeat left;
    background-size: cover;
    width: 80%;
    padding: 100px 0;
}
.about-inner-section{
    color: white;
    width: 50%;
    float: left;
    padding: 150px;
    background-color: #010718;
    float: right;
}



@media (max-width:750px) {
    .about-section{
        width: 100%;
    }
        
    .about-inner-section{
        width: 61%;
        padding: 75px;
    }   
        
        
}
